<style>table { border:#d0d0d0 solid 1px; }
td, th { padding: 2px; border:#d0d0d0 solid 1px; } td {	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace; } </style>
/* =============================================== <BR>
* Questions <BR>
=============================================== */ <BR>
<H2>[SECURITY REQUIREMENTS]</H2>
<TABLE>
  <CAPTION>
    Question Choices
  </CAPTION>
  <TBODY>
    <TR>
      <TH>New</TH>
      <TD>CONTRACT PERFORMANCE REQUIRES CONTRACTOR TO HAVE ROUTINE PHYSICAL ACCESS TO A FEDERALLY-CONTROLLED FACILITY AND/OR ROUTINE ACCESS TO A FEDERALLY-CONTROLLED INFORMATION SYSTEM</TD>
    </TR>
    <TR>
      <TH>Remove</TH>
      <TD>CONTRACT PERFORMANCE REQUIRES CONTRACTOR TO HAVE ROUTINE PHYSICAL</TD>
    </TR>
  </TBODY>
</TABLE>
<H2>[FULL AND OPEN EXCEPTION]</H2>
<TABLE>
  <CAPTION>
    Question Choices
  </CAPTION>
  <TBODY>
    <TR>
      <TH>New</TH>
      <TD>6.302-1 ONLY ONE RESPONSIBLE SOURCE AND NO OTHER SUPPLIES OR SERVICES WILL SATISFY AGENCY REQUIREMENTS.</TD>
    </TR>
    <TR>
      <TH>New</TH>
      <TD>6.302-2 UNUSUAL AND COMPELLING URGENCY</TD>
    </TR>
    <TR>
      <TH>New</TH>
      <TD>6.302-3 INDUSTRIAL MOBILIZATION; ENGINEERING, DEVELOPMENTAL, OR RESEARCH CAPABILITY; OR EXPERT SERVICES</TD>
    </TR>
    <TR>
      <TH>New</TH>
      <TD>6.302-5 AUTHORIZED OR REQUIRED BY STATUTE</TD>
    </TR>
    <TR>
      <TH>New</TH>
      <TD>6.302-6 NATIONAL SECURITY</TD>
    </TR>
    <TR>
      <TH>New</TH>
      <TD>6.302-7 PUBLIC INTEREST</TD>
    </TR>
    <TR>
      <TH>Remove</TH>
      <TD>ONLY ONE RESPONSIBLE SOURCE AND NO OTHER SUPPLIES OR SERVICES WILL SATISFY AGENCY REQUIREMENTS.</TD>
    </TR>
    <TR>
      <TH>Remove</TH>
      <TD>UNUSUAL AND COMPELLING URGENCY</TD>
    </TR>
    <TR>
      <TH>Remove</TH>
      <TD>INDUSTRIAL MOBILIZATION; ENGINEERING, DEVELOPMENTAL, OR RESEARCH CAPABILITY; OR EXPERT SERVICES</TD>
    </TR>
    <TR>
      <TH>Remove</TH>
      <TD>AUTHORIZED OR REQUIRED BY STATUTE</TD>
    </TR>
    <TR>
      <TH>Remove</TH>
      <TD>NATIONAL SECURITY</TD>
    </TR>
    <TR>
      <TH>Remove</TH>
      <TD>PUBLIC INTEREST</TD>
    </TR>
  </TBODY>
</TABLE>
<H2>[OPTIONS]</H2>
<TABLE>
  <TBODY>
    <TR>
      <TH>Field</TH>
      <TH>New</TH>
      <TH>Previous</TH>
    </TR>
    <TR>
      <TD rowspan="2">question_type
      <TD>new</TD>
      <TD>B</TD>
    </TR>
    <TR>
      <TD>Previous</TD>
      <TD>1</TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE>
  <CAPTION>
    Question Choices
  </CAPTION>
  <TBODY>
    <TR>
      <TH>Remove</TH>
      <TD>x</TD>
    </TR>
  </TBODY>
</TABLE>
<H2>[GOVERNMENT SUPPLY STATEMENT]</H2>
<TABLE>
  <TBODY>
    <TR>
      <TH>Field</TH>
      <TH>New</TH>
      <TH>Previous</TH>
    </TR>
    <TR>
      <TD rowspan="2">condition_to_question
      <TD>new</TD>
      <TD>"GOVERNMENT SUPPLY SOURCE INFORMATION/AUTHORIZATION APPLIES" = [CONTRACTOR MATERIAL]</TD>
    </TR>
    <TR>
      <TD>Previous</TD>
      <TD>" GOVERNMENT SUPPLY SOURCE INFORMATION/AUTHORIZATION APPLIES" = [CONTRACTOR MATERIAL]</TD>
    </TR>
  </TBODY>
</TABLE>
<H2>[TRANSPORTATION REQUIREMENTS 4]</H2>
<TABLE>
  <CAPTION>
    Question Choices
  </CAPTION>
  <TBODY>
    <TR>
      <TH>New</TH>
      <TD>GOVERNMENT IS RESPONSIBLE FOR NOTIFYING CONTRACTOR OF SPECIFIC SERVICE TIMES OR  UNUSUAL SHIPMENTS</TD>
    </TR>
    <TR>
      <TH>Remove</TH>
      <TD>GOVERNMENT IS RESPONSIBLE FOR NOTIFYING CONTRACTOR OF SPECIFIC SERVICE TIMES OR</TD>
    </TR>
  </TBODY>
</TABLE>
<H2>[CONTRACT PRIOR TO FUNDS]</H2>
<TABLE>
  <TBODY>
    <TR>
      <TH>Field</TH>
      <TH>New</TH>
      <TH>Previous</TH>
    </TR>
    <TR>
      <TD rowspan="2">question_type
      <TD>new</TD>
      <TD>B</TD>
    </TR>
    <TR>
      <TD>Previous</TD>
      <TD>1</TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE>
  <CAPTION>
    Question Choices
  </CAPTION>
  <TBODY>
    <TR>
      <TH>Remove</TH>
      <TD>x</TD>
    </TR>
  </TBODY>
</TABLE>


<h2>[WAIVERS]</h2>
<table><caption>Question Choices</caption>
<tr><th>New</th><td>15.209/25.1001 -- WAIVER OF REQUIREMENT TO EXAMINATION OF RECORDS BY THE COMPTROLLER GENERAL</td></tr>
<tr><th>New</th><td>15.408 -- WAIVER OF FACILITIES CAPITAL COST OF MONEY</td></tr>
<tr><th>New</th><td>22.1203-3 -- WAIVER OF REQUIREMENT RELATING TO THE "NONDISPLACEMENT OF QUALIFIED WORKERS UNDER SERVICE CONTRACTS"</td></tr>
<tr><th>New</th><td>22.1305 - WAIVER OF ALL THE TERMS OF 52.222-35, "EQUAL OPPORTUNITY FOR VETERANS"</td></tr>
<tr><th>New</th><td>22.1305 - WAIVER OF ONE OR MORE OF THE TERMS (BUT NOT ALL) OF 52.222-35, "EQUAL OPPORTUNITY FOR VETERANS"</td></tr>
<tr><th>New</th><td>22.1403 - WAIVER OF ONE OR MORE (BUT NOT ALL) OF THE TERMS OF 52.222-36, "AFFIRMATIVE ACTION FOR WORKERS WITH DISABILITIES"</td></tr>
<tr><th>New</th><td>22.1403 - WAIVER OF ALL OF THE TERMS OF 52.222-36, "AFFIRMATIVE ACTION FOR WORKERS WITH DISABILITIES"</td></tr>
<tr><th>New</th><td>22.1603 -- WAIVER OF THE REQUIREMENT TO NOTIFY EMPLOYEES OF THEIR RIGHTS UNDER THE NATIONAL LABOR RELATIONS ACT</td></tr>
<tr><th>New</th><td>28.305 - WAIVER OF THE DEFENSE BASE ACT</td></tr>
<tr><th>New</th><td>37.113-1 - WAIVER OF COST ALLOWABILITY LIMITATIONS ON SEVERANCE PAYMENTS TO FOREIGN NATIONALS</td></tr>
<tr><th>Remove</th><td>-- WAIVER OF REQUIREMENT TO EXAMINATION OF RECORDS BY THE COMPTROLLER GENERAL</td></tr>
<tr><th>Remove</th><td>-- WAIVER OF FACILITIES CAPITAL COST OF MONEY</td></tr>
<tr><th>Remove</th><td>-- WAIVER OF REQUIREMENT RELATING TO THE "NONDISPLACEMENT OF QUALIFIED WORKERS UNDER SERVICE CONTRACTS"</td></tr>
<tr><th>Remove</th><td>- WAIVER OF ALL THE TERMS OF 52.222-35, "EQUAL OPPORTUNITY FOR VETERANS"</td></tr>
<tr><th>Remove</th><td>- WAIVER OF ONE OR MORE OF THE TERMS (BUT NOT ALL) OF 52.222-35, "EQUAL OPPORTUNITY FOR VETERANS"</td></tr>
<tr><th>Remove</th><td>- WAIVER OF ONE OR MORE (BUT NOT ALL) OF THE TERMS OF 52.222-36, "AFFIRMATIVE ACTION FOR WORKERS WITH DISABILITIES"</td></tr>
<tr><th>Remove</th><td>- WAIVER OF ALL OF THE TERMS OF 52.222-36, "AFFIRMATIVE ACTION FOR WORKERS WITH DISABILITIES"</td></tr>
<tr><th>Remove</th><td>-- WAIVER OF THE REQUIREMENT TO NOTIFY EMPLOYEES OF THEIR RIGHTS UNDER THE NATIONAL LABOR RELATIONS ACT</td></tr>
<tr><th>Remove</th><td>- WAIVER OF THE DEFENSE BASE ACT</td></tr>
<tr><th>Remove</th><td>- WAIVER OF COST ALLOWABILITY LIMITATIONS ON SEVERANCE PAYMENTS TO FOREIGN NATIONALS</td></tr>
</table>


<h2>[EXEMPTIONS]</h2>
<table><caption>Question Choices</caption>
<tr><th>New</th><td>22.807 -- EXEMPT FROM ALL THE REQUIREMENTS OF E.O. 11246</td></tr>
<tr><th>New</th><td>22.807 -- EXEMPT FROM ONE OR MORE, BUT NOT ALL THE REQUIREMENTS OF E.O. 11246</td></tr>
<tr><th>New</th><td>48.102 -- EXEMPT FROM VALUE ENGINEERING</td></tr>
<tr><th>New</th><td>22.305 -- EXEMPT FROM INCLUSION OF 52.222-4 "CONTRACT WORK HOURS AND SAFETY STANDARDS ACT -- OVERTIME COMPENSATION"</td></tr>
<tr><th>New</th><td>22.1003-3/4 -- EXEMPT FROM APPLICATION OF THE SERVICE CONTRACT ACT</td></tr>
<tr><th>New</th><td>23.204 -- ENERGY STAR OR FEMP-DESIGNATED PRODUCT EXEMPTION</td></tr>
<tr><th>New</th><td>22.1203-2 -- EXEMPT FROM 52.222-17, "NONDISPLACEMENT OF QUALIFIED WORKERS"</td></tr>
<tr><th>New</th><td>22.1603 -- SECRETARIAL EXEMPTION TO THE REQUIREMENT TO INCLUDE THE CLAUSE 52.222-40, "NOTIFICATION OF EMPLOYEE RIGHTS UNDER THE NATIONAL LABOR RELATIONS ACT</td></tr>
<tr><th>Remove</th><td>-- EXEMPT FROM ALL THE REQUIREMENTS OF E.O. 11246</td></tr>
<tr><th>Remove</th><td>-- EXEMPT FROM ONE OR MORE, BUT NOT ALL THE REQUIREMENTS OF E.O. 11246</td></tr>
<tr><th>Remove</th><td>-- EXEMPT FROM VALUE ENGINEERING</td></tr>
<tr><th>Remove</th><td>-- EXEMPT FROM INCLUSION OF 52.222-4 "CONTRACT WORK HOURS AND SAFETY STANDARDS ACT -- OVERTIME COMPENSATION"</td></tr>
<tr><th>Remove</th><td>-- EXEMPT FROM APPLICATION OF THE SERVICE CONTRACT ACT</td></tr>
<tr><th>Remove</th><td>-- ENERGY STAR OR FEMP-DESIGNATED PRODUCT EXEMPTION</td></tr>
<tr><th>Remove</th><td>-- EXEMPT FROM 52.222-17, "NONDISPLACEMENT OF QUALIFIED WORKERS"</td></tr>
<tr><th>Remove</th><td>-- SECRETARIAL EXEMPTION TO THE REQUIREMENT TO INCLUDE THE CLAUSE 52.222-40, "NOTIFICATION OF EMPLOYEE RIGHTS UNDER THE NATIONAL LABOR RELATIONS ACT</td></tr>
</table>


<h2>[EXCEPTIONS]</h2>
<table><caption>Question Choices</caption>
<tr><th>New</th><td>25.202 -- EXCEPTION TO THE BUY AMERICAN STATUTE</td></tr>
<tr><th>New</th><td>25.401 -- EXCEPTION TO FOREIGN TRADE AGREEMENTS</td></tr>
<tr><th>New</th><td>22.1603 --22.1603 -- SECRETARIAL EXEMPTION TO THE REQUIREMENT TO INCLUDE THE CLAUSE 52.222-40, "NOTIFICATION OF EMPLOYEE RIGHTS UNDER THE NATIONAL LABOR RELATIONS ACT"</td></tr>
<tr><th>New</th><td>23.704(a) - EXCEPTION TO EPEAT REGISTERED ELECTRONIC PRODUCTS</td></tr>
<tr><th>Remove</th><td>-- EXCEPTION TO THE BUY AMERICAN STATUTE</td></tr>
<tr><th>Remove</th><td>-- EXCEPTION TO FOREIGN TRADE AGREEMENTS</td></tr>
<tr><th>Remove</th><td>--22.1603 -- SECRETARIAL EXEMPTION TO THE REQUIREMENT TO INCLUDE THE CLAUSE 52.222-40, "NOTIFICATION OF EMPLOYEE RIGHTS UNDER THE NATIONAL LABOR RELATIONS ACT"</td></tr>
<tr><th>Remove</th><td>- EXCEPTION TO EPEAT REGISTERED ELECTRONIC PRODUCTS</td></tr>
</table>


<h2>[PATENT COUNCIL RECOMMENDED]</h2>
<table><caption>Question Choices</caption>
<tr><th>New</th><td>52.227-3 ALTERNATE III -- PATENT INDEMNITY</td></tr>
<tr><th>New</th><td>52.227-4 -- PATENT INDEMNITY -- CONSTRUCTION CONTRACTS</td></tr>
<tr><th>New</th><td>52.227-4 ALTERNATE I -- PATENT INDEMNITY -- CONSTRUCTION CONTRACTS</td></tr>
<tr><th>New</th><td>52.227-5 -- WAIVER OF INDEMNITY</td></tr>
<tr><th>New</th><td>52.227-6 -- ROYALTY INFORMATION</td></tr>
<tr><th>New</th><td>52.227-6 ALTERNATE I -- ROYALTY INFORMATION</td></tr>
<tr><th>New</th><td>52.227-7 -- PATENTS-- NOTICE OF GOVERNMENT LICENSEE</td></tr>
<tr><th>New</th><td>52.227-9 -- REFUND OF ROYALTIES</td></tr>
<tr><th>New</th><td>52.227-10 -- FILING OF PATENT APPLICATIONS -- CLASSIFIED SUBJECT MATTER</td></tr>
<tr><th>New</th><td>52.227-11 -- PATENT RIGHTS -- OWNERSHIP BY THE CONTRACTOR</td></tr>
<tr><th>New</th><td>52.227-11 ALTERNATE I-- PATENT RIGHTS -- OWNERSHIP BY THE CONTRACTOR</td></tr>
<tr><th>New</th><td>52.227-11 ALTERNATE II -- PATENT RIGHTS -- OWNERSHIP BY THE CONTRACTOR</td></tr>
<tr><th>New</th><td>52.227-11 ALTERNATE III-- PATENT RIGHTS -- OWNERSHIP BY THE CONTRACTOR</td></tr>
<tr><th>New</th><td>52.227-11 ALTERNATE IV -- PATENT RIGHTS -- OWNERSHIP BY THE CONTRACTOR</td></tr>
<tr><th>New</th><td>52.227-11 ALTERNATE V-- PATENT RIGHTS -- OWNERSHIP BY THE CONTRACTOR</td></tr>
<tr><th>New</th><td>52.227-13 -- PATENT RIGHTS -- OWNERSHIP BY THE GOVERNMENT</td></tr>
<tr><th>New</th><td>52.227-13 -- PATENT RIGHTS ALTERNATE I -- OWNERSHIP BY THE GOVERNMENT</td></tr>
<tr><th>New</th><td>52.227-13 -- PATENT RIGHTS ALTERNATE II -- OWNERSHIP BY THE GOVERNMENT</td></tr>
<tr><th>New</th><td>52.227-14 -- RIGHTS IN DATA - GENERAL</td></tr>
<tr><th>New</th><td>52.227-14 ALTERNATE I -- RIGHTS IN DATA - GENERAL</td></tr>
<tr><th>New</th><td>52.227-14 ALTERNATE II - RIGHTS IN DATA - GENERAL</td></tr>
<tr><th>New</th><td>52.227-14 ALTERNATE III-- RIGHTS IN DATA - GENERAL</td></tr>
<tr><th>New</th><td>52.227-14 ALTERNATE IV-- RIGHTS IN DATA - GENERAL</td></tr>
<tr><th>New</th><td>52.227-14 ALTERNATE V-- RIGHTS IN DATA - GENERAL</td></tr>
<tr><th>New</th><td>52.227-15 -- REPRESENTATION OF LIMITED RIGHTS DATA AND RESTRICTED COMPUTER SOFTWARE</td></tr>
<tr><th>New</th><td>52.227-16 -- ADDITIONAL DATA REQUIREMENTS</td></tr>
<tr><th>New</th><td>52.227-17 -- RIGHTS IN DATA -- SPECIAL WORKS</td></tr>
<tr><th>New</th><td>52.227-18 -- RIGHTS IN DATA-EXISTING WORKS</td></tr>
<tr><th>New</th><td>52.227-19 -- COMMERCIAL COMPUTER SOFTWARE LICENSE</td></tr>
<tr><th>New</th><td>52.227-20 -- RIGHTS IN DATA -- SBIR PROGRAM</td></tr>
<tr><th>New</th><td>52.227-21 -- TECHNICAL DATA DECLARATION, REVISION, AND WITHHOLDING OF PAYMENT -- MAJOR SYSTEMS</td></tr>
<tr><th>New</th><td>52.227-22 -- MAJOR SYSTEM - MINIMUM RIGHTS</td></tr>
<tr><th>New</th><td>52.227-23 -- RIGHTS TO PROPOSAL DATA (TECHNICAL)</td></tr>
<tr><th>Remove</th><td>ALTERNATE III -- PATENT INDEMNITY</td></tr>
<tr><th>Remove</th><td>-- PATENT INDEMNITY -- CONSTRUCTION CONTRACTS</td></tr>
<tr><th>Remove</th><td>ALTERNATE I -- PATENT INDEMNITY -- CONSTRUCTION CONTRACTS</td></tr>
<tr><th>Remove</th><td>-- WAIVER OF INDEMNITY</td></tr>
<tr><th>Remove</th><td>-- ROYALTY INFORMATION</td></tr>
<tr><th>Remove</th><td>ALTERNATE I -- ROYALTY INFORMATION</td></tr>
<tr><th>Remove</th><td>-- PATENTS-- NOTICE OF GOVERNMENT LICENSEE</td></tr>
<tr><th>Remove</th><td>-- REFUND OF ROYALTIES</td></tr>
<tr><th>Remove</th><td>-- FILING OF PATENT APPLICATIONS -- CLASSIFIED SUBJECT MATTER</td></tr>
<tr><th>Remove</th><td>-- PATENT RIGHTS -- OWNERSHIP BY THE CONTRACTOR</td></tr>
<tr><th>Remove</th><td>ALTERNATE I-- PATENT RIGHTS -- OWNERSHIP BY THE CONTRACTOR</td></tr>
<tr><th>Remove</th><td>ALTERNATE II -- PATENT RIGHTS -- OWNERSHIP BY THE CONTRACTOR</td></tr>
<tr><th>Remove</th><td>ALTERNATE III-- PATENT RIGHTS -- OWNERSHIP BY THE CONTRACTOR</td></tr>
<tr><th>Remove</th><td>ALTERNATE IV -- PATENT RIGHTS -- OWNERSHIP BY THE CONTRACTOR</td></tr>
<tr><th>Remove</th><td>ALTERNATE V-- PATENT RIGHTS -- OWNERSHIP BY THE CONTRACTOR</td></tr>
<tr><th>Remove</th><td>-- PATENT RIGHTS -- OWNERSHIP BY THE GOVERNMENT</td></tr>
<tr><th>Remove</th><td>-- PATENT RIGHTS ALTERNATE I -- OWNERSHIP BY THE GOVERNMENT</td></tr>
<tr><th>Remove</th><td>-- PATENT RIGHTS ALTERNATE II -- OWNERSHIP BY THE GOVERNMENT</td></tr>
<tr><th>Remove</th><td>-- RIGHTS IN DATA - GENERAL</td></tr>
<tr><th>Remove</th><td>ALTERNATE I -- RIGHTS IN DATA - GENERAL</td></tr>
<tr><th>Remove</th><td>ALTERNATE II - RIGHTS IN DATA - GENERAL</td></tr>
<tr><th>Remove</th><td>ALTERNATE III-- RIGHTS IN DATA - GENERAL</td></tr>
<tr><th>Remove</th><td>ALTERNATE IV-- RIGHTS IN DATA - GENERAL</td></tr>
<tr><th>Remove</th><td>ALTERNATE V-- RIGHTS IN DATA - GENERAL</td></tr>
<tr><th>Remove</th><td>-- REPRESENTATION OF LIMITED RIGHTS DATA AND RESTRICTED COMPUTER SOFTWARE</td></tr>
<tr><th>Remove</th><td>-- ADDITIONAL DATA REQUIREMENTS</td></tr>
<tr><th>Remove</th><td>-- RIGHTS IN DATA -- SPECIAL WORKS</td></tr>
<tr><th>Remove</th><td>-- RIGHTS IN DATA-EXISTING WORKS</td></tr>
<tr><th>Remove</th><td>-- COMMERCIAL COMPUTER SOFTWARE LICENSE</td></tr>
<tr><th>Remove</th><td>-- RIGHTS IN DATA -- SBIR PROGRAM</td></tr>
<tr><th>Remove</th><td>-- TECHNICAL DATA DECLARATION, REVISION, AND WITHHOLDING OF PAYMENT -- MAJOR SYSTEMS</td></tr>
<tr><th>Remove</th><td>-- MAJOR SYSTEM - MINIMUM RIGHTS</td></tr>
<tr><th>Remove</th><td>-- RIGHTS TO PROPOSAL DATA (TECHNICAL)</td></tr>
</table>
