<style>table { border:#d0d0d0 solid 1px; }
td, th { padding: 2px; border:#d0d0d0 solid 1px; } td {	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace; } </style>
/* ===============================================
</br>
 * Questions
</br>
   =============================================== */
</br>


<h2>[LEASE OPTION]</h2>
<table><tr><th>Field</th><th>New</th><th>Previous</th></tr>
<tr><td rowspan='2'>condition_to_question</th><td>new</td><td>"LEASE AGREEMENT" = [AGREEMENT (INCLUDING BASIC AND LOAN)]</td></tr>
<tr><td>Previous</td><td>"LEASE AGREEMENT" = [AGREEMENT (INCLUDING BASIC AND LOAN]</td></tr>
</table>


<h2>[ORDER VALUE]</h2>
<table><tr><th>Field</th><th>New</th><th>Previous</th></tr>
<tr><td rowspan='2'>condition_to_question</th><td>new</td><td>[AGREEMENT (INCLUDING BASIC AND LOAN)] IS NOT NULL OR "REQUIREMENTS" = [TYPE OF INDEFINITE DELIVERY]</td></tr>
<tr><td>Previous</td><td>[AGREEMENT (INCLUDING BASIC AND LOAN] IS NOT NULL OR "REQUIREMENTS" = [TYPE OF INDEFINITE DELIVERY]</td></tr>
</table>
