.filterClauseData input {
			margin-left: 10px;
			margin-right: 8px;
		}
		
.filterClauseData label {
	min-width: 100px;
}

#spanFilterClauseDataSelection {
	font-style: italic;
}

.modal-body h1 {
	text-align:center;
	font-size: 100%;
	font-weight: bold;
	color: #333;
}

#mainPanel {
	border: 0;
	padding: 0;
	margin: 0;
}

.right { text-align: right; }

.center { text-align: center; }

#filterModal {
	top:22%;left:70%;outline:none;
}

#filterModal .modal-dialog  {
	width:200px;
	margin-top: 5px 
}

.document-table {
	width: 100%;
}

.top
{
	padding: 10px;
}

.bottom > .row {
/* 	float: right;	 */
	margin-left: 0px;
  	margin-right: 0px;
}

.dataTables_paginate{
	white-space: nowrap;	
}

.dataTables_filter {
	float: left !important;
	text-align:left !important;
}

.dataTables_filter input { 
	width: 400px;	
    height: 38px;
	padding: 10px;
	font-size: 1em; /* 12px: */
    line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
}

.dataTables_info {
  float: right;
  white-space: nowrap;
}


.dataTables_length label {
  display: inline-block;  
  float: right;
  padding-top: 0.755em;
  padding-left:10px;
  font-weight: normal;  
  white-space: nowrap;
}


#fcEditModalBody, #fcModalBody {
	/*font-family: "Courier New", Courier, monospace;*/
	color: black;
}
.modal-body h1 {
	text-align:center;
	font-size: 100%;
	font-weight: bold;
	color: #333;
}
.modal-body dd, .modal-body li  {
	margin: initial; /* 1.12em 0; */
	margin-left: 1.12em; /*initial;*/
}

.modal-body dt {
	font-weight: initial; /*normal;*/
}

.docLabel {
	padding:0px;
	margin-left:0px;
	font-weight: bold;
}
