h1 {
  font-size: 22px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}

@media (min-width: 992px) {
  .modal-xlg {
    width: 900px;
  }
}

@media (min-width: 1292px) {
  .modal-xlg {
    width: 1200px;
  }
}

.containerMarginTopNormal {
	margin-top:-60px;
}

.containerMarginTopAdmin {
	margin-top:-25px;
}

#tableDocInfo td, #tableDocInfo th {
	padding: 2px;
}

#tableDocInfo th {
	text-align:right;
}

#tableDocInfo td {
	padding-right: 15px;
}

#tableMain {
	width: 100%;
}

#tableMain td {
	padding: 3px;
	vertical-align: top;
	/*border: #d0d0d0 solid 1px;*/
}

/*
.tdContents {
	padding-left: 2px; 
	padding-right: 2px; 
	padding-bottom: 2px;
}
*/

#transcriptModalLabel, 
#verChangesModalLabel,
#myModalLabel,
#completeTitle,
#resetModalLabel,
#fcModalLabel,
#fcEditModalLabel,
#verFCChangesModalLabel,
#fcFilterModalLabel {
  font-size: 16px;
  font-weight: 500;
  color: #337ab7;
}

.tdContents .panel-title, #tdSolication .panel-title {
	color: black;
	text-transform: lowercase;
    text-transform: capitalize;
}

.tdContents .panel-title h4 {
	font-size: 90%;
}

.panel-body {
	overflow: auto;
}

.divQuestionCondition {
	padding-bottom: 5px;
	font-style: italic;
}

.btn-group-vertical button {
	text-align: left;
	width: 350px;
	white-space: normal;
}

#divGroupButtons button {
	text-align: left;
	width: 300px;
	
	/*width: 250px;*/
}


.divChoice
{
	width:100%;
	color: black;
	padding-left: 3px;
	text-align: left;
	display:inline-block;
}

.divChoice label
{
	font-weight: normal;
	padding-left: 5px;
	padding-top: 3px;
	
	max-width:95%;
	vertical-align:top;
}

.tblChoices {
	width:100%;
	color: black;
}

.tblChoices th, .tblChoices td {
	vertical-align: top;
}

.tblChoices th {
	width: 15px;
	padding-top: 3px;
	padding-right: 3px;
	text-align: left;
}

.tblChoices td {
	padding-left: 3px;
	text-align: left;
}

.tblChoices label {
	font-weight: normal;
}

#ulTranscript {
	margin-left: -10px;
	margin-top: -15px;
	padding-left: 0px;
}


.questionStatusCol {
	float: left;
	width:5%;
	padding-left:10px;
}

.questionTextCol {
	display: inline-block; 
	width: 65%;
	padding-left:5px;
	font-weight:normal;
	font-size:14px;
}

.questionButtonsCol {
	float: right; 
	width: 30%;
	padding-right:10px;
	white-space:nowrap;
}
/* ========================================= */
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

/* ------------------------------------- */
.valueUl ul, .valueUl li {
	list-style-type: square;
	font-weight: bold;
}
.valueUl li::before {
    border-left: none;
}
.valueUl li::after {
    border-top: none;
}

/* -------------------------------------- */
#divContainerPrescription th, #divContainerPrescription td {
	padding-left: 2px;
	padding-right: 2px;
	border-bottom: #D0D0D0 solid 1px;
	vertical-align: top;
}

/* --------------------------------------- */
.divClause {
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	/*border: #D0D0D0 solid 1px;*/
	/*border-top: #D0D0D0 solid 1px;*/
	border-bottom: #D0D0D0 solid 1px;
}

.normal {
	font-weight: normal;
	border-collapse: collapse;
}

.bold {
	font-weight: bold;
}

.tableEditClause {
	border: #C0C0C0 solid 1px;
}
.tableEditClause td, .tableEditClause th {
	padding: 2px;
}

#divQuestionGroup button {
	font-size: 90%;
}

.tableOrderClauses tbody {
	display: block;
	/* height: inherit; */ /*450px;*/
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.tableOrderClauses td label, .tableOrderClauses td a {
	font-weight: normal;
}

.combobox-container input {
	width:99%;
}

#tabManual ul {
	height:450px;
	scroll:auto;
}

#tabManual li {
	white-space: wrap;
}

#divOrdersSearch input {
	width:99%;
}

/* =============================== */
.divOrderSelClauses {
	/*
	margin-top: 50px;
	scroll:auto;
	*/
}
.divOrderSelClauses label, .divOrderSelClauses a {
	font-weight: normal;
}

.divOrderSelClauses input {
	/*vertical-align: middle;*/
	/*margin-top: 5px;*/
}

.mono {
	font-family: "Courier New", Courier, monospace;
	text-align: top;
	font-size: 110%;
}

.ordersRemoveClause a {
	padding-left:3px;
	padding-right:3px;
	border: #d0d0d0 solid 1px;
}

.nodisplay {
	display: none;
}

.inputOrdersSearchClause {
  border: 2px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  outline: none;
  /*
  padding-left: 4px;
  padding-right: 4px;
  */
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 110%;
}

.order_sel_clause_xb, .order_sel_clause_name {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.order_sel_clause_xb {
	width: 4%;
}

.order_sel_clause_xb:before {
  display: table;
  content: " ";
}

.order_sel_clause_name {
	width: 96%;
}

.order_sel_clause_name:after {
  clear: both;
}

.ordersSection {
  margin-top: 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  outline: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f5f5f5;
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 5px;
}

#divOrderTabContent {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#myModelRemarks {
	text-align: left;
	height: 90px;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 90%;
	font-style: italic;
}

#AcquisitionProfile {
	font-size: 125%;
	font-weight: bold;
	margin-right: 5px;
}

.docLabel {
	font-weight:bold;
	margin-left:10px;
}

.page-header {
  padding-bottom: 0px;
  margin: 50px 0 5px;
  border-bottom: 0px solid #eee;
}

#spanFixedMessage {
	color: #CC3300;
}

#myModalBody {
	/*font-family: "Courier New", Courier, monospace;*/
	color: black;
}
.modal-body h1 {
	text-align:center;
	font-size: 100%;
	font-weight: bold;
	color: #333;
}
.modal-body dd, .modal-body li  {
	margin: initial; /* 1.12em 0; */
	margin-left: 1.12em; /*initial;*/
}

.modal-body dt {
	font-weight: initial; /*normal;*/
}

.QGroupBody {
	display: block;
	/*height:' + maxHeight + 'px;*/
	padding-left: 0px;
	padding-right: 5px;"
	/*overflow-y: hidden;*/
}

.QuestionBody {
	border: 1px solid #dddddd;
	font-size:.95em;
	background-color: white;
	overflow-y: auto;
	/*height:' + (_maxQuestionPanelHeight-100) + 'px;*/
}

.QPanelCollapsed {

  padding: 3px 3px;
  white-space: nowrap;  
  -webkit-transform: rotate(270deg);   
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: translateX(-50%) translateY(-50%) rotate(270deg);
}


.QPanelHeading {
  padding: 3px 3px;
}

.QTitleSymbol {
  float:left; width:5%; 
  padding-left:10px;
}

.QTitleText {
	display:inline-block; 
	width: 65%; 
	padding-left:10px; 
	font-weight:normal; 
	font-size:.75em;
}

.QTitleBttns {
	float:right; 
	width:30%; 
	padding-right:10px; 
	white-space:nowrap; 
	vertical-align:bottom;
}

#divContentFooter {
	white-space: nowrap;
}

#divContentFooter button {
	margin-right:16px;
}

#btnReset {
	margin-right:0px;
}
