.revision-body {
/* Tag settings */
p {
        font-variant: normal;
        text-indent: 2em;
}
a {
        text-decoration: none;
}
a:hover {
        text-decoration: underline;
}

img {
        border: 0;
}
ul {
        list-style: square;
}

/* center paragraphs without an indent. */
.fullcenter {
    text-indent:0;
    text-align:center;
}

/****************************************************/
/*   This group is used for display links to        */
/*   amendments and to display the amendments       */
/*   themselves.                                    */
/****************************************************/
/* Link to amendment published in Federal Register. */
.linktoamn {
    text-indent:0;
    text-align:center;
}


/* Amendment's published ... (in amendments file) */
.bfrpage {
    text-indent:0;
    text-align:center;
}
/* View Printed Federal Register page */
.breghd {
    text-indent:0;
    text-align:left;
}

/* Effective Dates in Amendments */
.effdates {
    font-variant: small-caps;
}

/****************************************************/
/*  End of amendment styles.                        */
/****************************************************/

/***************************************************************
  EVERYTHING FROM HERE UP HAS BEEN ADDED SINCE 4-22-2012
****************************************************************/



.hd1 {
        font-variant: small-caps;
        font-weight: normal;
        text-align: center;
}

.hd2 {
        font-variant: normal;
        font-weight: normal;
        font-style: italic;
        text-align: center;
}

.hd3 {
        font-variant: normal;
        font-weight: normal;
        text-align: center;
}

.hd4 {
        font-variant: normal;
        font-weight: normal;
        text-align: center;
}

.hd5 {
        font-variant: normal;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
}

.hed1 {
        font-variant: normal;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
}

.frp {
        display: block;
        font-variant: normal;
        text-indent: 0em;
        text-align: right;
        margin-right: 2em;
}

.frp0 {
        display: block;
        font-variant: normal;
        text-indent: 0em;
        text-align: right;
}

.p1 {
        display: block;
        font-variant: normal;
        margin-left: 6em;
        text-indent: -2em;
}

.p-1 {
        display: block;
        font-variant: normal;
        margin-left: 2em;
        text-indent: 0em;
}

.p2 {
        display: block;
        font-variant: normal;
        margin-left: 2em;
        text-indent: 2em;
}

.p-2 {
        display: block;
        font-variant: normal;
        margin-left: 4em;
        text-indent: 0em;
}

.p-3 {
        display: block;
        font-variant: normal;
        margin-left: 4em;
        text-indent: -2em;
}

p-dash {
        display: block;
        margin-top: 10pt;
        margin-left: 2em;
        text-indent: 2em;
        border-bottom: 1px solid;
        width: 500px; 
        text-align: left;
}

/**********************************************************/

.fp {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
}

/* Subpart Heads in the Contents */
.contentsp {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-size: 13px;
        font-weight: bold;
}

/* Subject Group Heads in the Contents */
.contentsg {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-size: 13px;
        font-variant: small-caps;
}

/* Recent updates page */
.updatetitle {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
}

.updatebold {
	text-align: left;
	text-indent: 0;
	font-weight: bold;
}

.updatebodytest {
	text-align: left;
	text-indent: 0;
	font-weight: normal;
}

.updatebold {
	text-align: left;
	text-indent: 0;
	font-weight: bold;
}
.source {
        display: block;
        text-align: left;
        text-indent: 2em;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
        font-size: 12px;
}

.ednote {
        display: block;
        text-align: left;
        text-indent: 2em;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
        font-size: 12px;
}

.effdnot {
        display: block;
        text-align: left;
        text-indent: 2em;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
        font-size: 12px;
}

.example {
        display: block;
        text-align: left;
        text-indent: 2em;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
        font-size: 12px;
}

.crossref {
        display: block;
        text-align: left;
        text-indent: 2em;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
        font-size: 12px;
}

.note {
        display: block;
        text-align: left;
        text-indent: 2em;
        margin-left: 0;
        margin-top: 10pt;
        font-size: 12px;
        font-variant: normal;
}

.cita {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-size: 12px;
        font-variant: normal;
}

.appro {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
        font-size: 12px;
}

.auth {
        display: block;
        text-align: left;
        text-indent: 2em;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
        font-size: 12px;
}

.parauth {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-size: 12px;
        font-variant: normal;
}

.secauth {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-size: 12px;
        font-variant: normal;
}

.title {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
}

.subtitle {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
}

.chapter {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
}

.subchapter {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
}

.part {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
}

.subpart {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: 10pt;
        font-variant: normal;
}

.apphead {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        text-align: center;
        font-size: 13px;
        font-weight: normal;
        font-variant: small-caps;
}

.sphead {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        text-align: left;
        text-indent: 0;
        font-size: 18px;
        font-weight: bold;
        font-variant: normal;
}

/* Subject group head that appears in generated contents pages. */
.cpsghead {
        display: block;
        margin-top: 5pt;
        margin-bottom: 0pt;
        text-align: left;
        text-indent: 0;
        font-size: 12px;
        font-weight: normal;
        font-variant: small-caps;
}

/* Subject group head that appears in the text. */
.tsghead {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        text-align: left;
        text-indent: 0;
        font-size: 18px;
        font-weight: bold;
        font-variant: small-caps;
}

/* Subject group head that appears in amendment contents (I think, may not be necessary) */
.sghead {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        text-align: center;
        text-indent: 0;
        font-size: 13px;
        font-weight: normal;
        font-variant: small-caps;
}

/* A line of asterisks. Here just in case we want to change something. */
.stars {
        font-style: normal;
        font-weight: normal;
}

/* table caption? */
.tcap {
       text-align: center;
}

/* graphic caption? */
.bcap {
       text-align: left;
}
/******************************************/
h1 {
        display: block;
        text-align: center;
        margin-top: 10pt;
        margin-bottom: 5pt;
        font-size: 13px;
}

h2 {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        text-align: center;
        font-size: 13px;
}

h3 {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        text-align: center;
        font-size: 13px;
}

h4 {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        text-align: center;
        font-size: 13px;
}

h5 {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        text-align: center;
        font-weight: bold;
        font-size: 13px;
}

hed1 {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        text-align: center;
}

h2 {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        margin-left: 0em;
        text-indent: 0em;
        font-size: 13px;
        font-weight: bold;
}

.fp-1 {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        margin-left: 2em;
        text-indent: -2em;
}

.fp-2 {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        margin-left: 4em;
        text-indent: -4em;
}

.fp1-2 {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        margin-left: 4em;
        text-indent: -2em;
}

.fp2-2 {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        margin-left: 4em;
        text-indent: 0em;
}

.fp2-3 {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        margin-left: 6em;
        text-indent: -2em;
}

.contents {
        display: block;
        margin-top: 10pt;
        margin-bottom: 5pt;
        margin-left: 0;
        text-indent: 0;
}

p-dash {
        display: block;
        margin-top: 10pt;
        margin-left: 2em;
        text-indent: 2em;
        border-bottom: 1px solid;
        width: 500px; 
}

fp-dash {
        display: block;
        margin-top: 10pt;
        margin-left: 2em;
        text-indent: -2em;
        border-bottom: 1px solid;
        width: 500px; 
}

ul.leaders {
    max-width: 70em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: white;
    position: relative;
    z-index: 1
}

.three-col-layout-middle {
    border-left: 1px solid #CCCCCC;
    width: 539px;
}
.three-col-layout-right {
    border-left: 1px solid #CCCCCC;
}
div#left-menu a.highlight {
    text-decoration: none;
 }

.extract {
   font-size: 12px;
}

.ftnt {
   font-size: 12px;
}

div.fpdash { 
  margin-top: 22px;
  margin-left: 0;
  height: 1px; 
  border-top: 1px solid black; 
  text-align: left; 
  position: relative; 
}
span.fpdash { 
  position: relative; 
  top: -1em; 
  background: white; 
  display: inline-block; 
}

div.pdash { 
  margin-top: 22px;
  margin-left: 0;
  height: 1px; 
  border-top: 1px solid black; 
  text-align: left; 
  text-indent: 2em;
  position: relative; 
}
span.pdash { 
  position: relative; 
  top: -1em; 
  background: white; 
  display: inline-block; 
}

li.leaders {
   margin-bottom: 11px;
}

.tpl {
   font-size: 13px;
   font-variant:inherit;
}

.sechd {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: -8pt;
        font-variant: normal;
}

.c_entry {
        display: block;
        text-align: left;
        text-indent: 0;
        margin-left: 0;
        margin-top: -8pt;
        font-variant: normal;
}

/* See ECFRpreprocess.java for an explanation */
.su {
        font-size: 70%;
        vertical-align: super;
        font-variant: normal;
}

.gpotbl_hang { text-indent: -2em; }
.gpotbl_table { empty-cells: show;
            border-collapse: collapse ;
            padding-top: .5em ; }
.gpotbl_div   { border: 2px solid black ; 
               space-after: 0.25em }
.gpotbl_title { font-weight: bold; 
               text-align: center; padding-bottom: .5em; font-variant: small-caps; }
.gpotbl_description { text-align: center; }
.gpotbl_cell { border: 1px solid black ; vertical-align: top }
.gpotbl_colhed { border: 1px solid black ; vertical-align: bottom }
.gpotbl_note { }

}
