.nowrap {
	white-space:nowrap;
}

.show-table td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.cls-th-100 {
  width: 100px;
  text-align: left;
}

.cls-th {
  text-align: left;
  margin-right: 20px;
}
