.audit-event-log caption {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #317eac;
  font-size: 16px;
}


.audit-event-log > tbody > tr > td {
	vertical-align: middle;
}

.form-group legend {
  border: 0;
  font-size: 14px;
  font-weight:bold;
}