@import "custom_bootstrap/custom_bootstrap";
@import "eCFR/eCFR";

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#header {
  background-color: @navbar-inverse-bg;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: @navbar-inverse-bg;
  color: @gray-light;
  line-height: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.pagination {
  margin: 0px;
}

.condition-indicator {
  color: @brand-info;
}

.condition-clause {
  color: @brand-success;
}

.rule-operator {
  color: @text-color;
  text-transform: lowercase;
}

.condition-value {
  color: @brand-danger;
}

.indicator-name {
  font-weight: bold;
  .condition-indicator;
}

.indicator-list-name {
  font-weight: bold;
  .condition-clause;
}

.indicator-value {
  font-weight: bold;
  .condition-value;
}

div.fpdash {
  margin-top: auto; margin-left: auto; height: 1px; border-top-width: 1px;
  border-top-style: solid; border-top-color: black; 
  display:block !important;
  color: rgb(0, 0, 0); font-family: Arial, sans-serif;
}

.icon-green {
  color: #00FF00;
}

.icon-red {
  color: #FF0000;
}

.icon-cell {
  width: 25px;
}
